include AUTHORS
include LICENSE
include MANIFEST.in
include README.md

include pyproject.toml
include setup.cfg
include setup.py

include requirements-dev.txt
include requirements.txt

recursive-include src/dinjo/ *.py

recursive-include tests/ *.py 

include example_data/infected_reference_col.csv
include examples/*.py

global-exclude *.py[co]
