[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
numpy = "*"

[dev-packages]
pytest = "*"
pandas = "*"
flake8 = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
matplotlib = "*"
pillow = ">=8.1.1"
dinjo = {editable = true, path = "."}

[scripts]
tests = "python -m pytest tests"
tests-cov = "python -m pytest tests --cov src/dinjo"
tests-cov-html = "python -m pytest tests --cov-report html --cov src/dinjo"
linter = "flake8 src/dinjo tests examples --max-line-length=99"
docs = "make -C docs html"
docs-latex = "make -C docs latexpdf LATEXMKOPTS='-silent'"
docs-clean = "make -C docs clean"

[requires]
python_version = "3.9"
