[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
numpy = "*"
matplotlib = "*"
pillow = ">=8.1.1"

[dev-packages]
pytest = "*"
pandas = "*"
flake8 = "*"
pytest-cov = "*"

[scripts]
tests = "python -m pytest tests"
tests-cov = "python -m pytest tests --cov cmodel"
tests-cov-html = "python -m pytest tests --cov-report html --cov cmodel"
linter = "flake8 cmodel tests examples --max-line-length=99"

[requires]
python_version = "3.9"
